@model IEnumerable<IP.Website.Models.ProjectModel>
@{
    ViewBag.Title = "Project";

}
<style>
    #wizard {
        height: 700px;
        width: 950px;
        background-color: white;
        padding: 20px;
    }

    .tab-content > .active {
        display: inline-block;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Project

            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Management Console", "Index", "MasterMenu")
                </li>
                <li class="active">Project</li>
            </ol>

            @if (Session["MenuDetails"] != null)
            {

                var MenuMaster = (List<IP.Website.Models.MenuModel>)Session["MenuDetails"];

                var uRights = MenuMaster.Where(s => s.parentMenu == ViewBag.Title).ToList();
                if (uRights != null)
                {

                    if (uRights.Where(r => r.menuName == "Add").Count() > 0)
                    {
                        <div style="padding:15px 0px">
                            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#AddProject">Add</button>
                        </div>
                    }
                }
            }
        </div>
        <div class="col-lg-12">
            <table id="tbl_Project" class="table table-bordered">
                <thead>
                    <tr>
                        <th hidden>ID</th>
                        <th>Project Name</th>
                        <th hidden>LocationID</th>
                        <th>Location Name</th>
                        <th hidden>Client ID</th>
                        <th>Client Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th hidden>StatusId</th>
                        <th>Status Name</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row" hidden>@item.Id</th>
                            @if (Session["MenuDetails"] != null)
                            {

                                var MenuMaster = (List<IP.Website.Models.MenuModel>)Session["MenuDetails"];

                                var uRights = MenuMaster.Where(s => s.menuName == "Jobs").ToList();

                                if (uRights.Count > 0 )
                                {
                                    <td> <a data-value="@item.projName" href="/Jobs/Index/@item.Id">@item.projName</a> </td>
                                }
                                else
                                {
                                    <td id="projName">@item.projName</td>
                                }
                            }
                            <td id="locId" hidden>@item.locId</td>
                            <td id="locName">@item.locName</td>
                            <td id="clientId" hidden>@item.clientId</td>
                            <td id="clientName">@item.clientName</td>
                            <td id="startDate">@item.startDate</td>
                            <td id="endDate">@item.endDate</td>
                            <td id="statusId" hidden>@item.statusId</td>
                            <td id="statusName">@item.statusName</td>
                            <td>
                                @if (Session["MenuDetails"] != null)
                                {

                                    var MenuMaster = (List<IP.Website.Models.MenuModel>)Session["MenuDetails"];

                                    var uRights = MenuMaster.Where(s => s.parentMenu == ViewBag.Title).ToList();
                                    if (uRights != null)
                                    {

                                        if (uRights.Where(r => r.menuName == "Edit").Count() > 0)
                                        {
                                            <a data-value="@item.Id" href="#EditProject" data-toggle="modal"
                                               data-target="#EditProject" class="btnEdit">Edit</a>
                                            <text>|</text>
                                        }
                                        <a data-value="@item.Id" href="#DisplayOtherDetails" data-toggle="modal" id=""
                                           data-target="#DisplayOtherDetails" class="btnEdit">OtherDetails</a>
                                        if (uRights.Where(r => r.menuName == "Delete").Count() > 0)
                                        {
                                            <text>|</text>
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id },

                                                  new { onclick = "return confirm('Are sure you want to delete this record?');" })



                                        }
                                        if (uRights.Where(r => r.menuName == "View").Count() > 0)
                                        {
                                            <text>|</text>
                                            <a data-value="@item.Id" href="#ViewProject" data-toggle="modal"
                                               data-target="#ViewProject" class="btnEdit">View</a>
                                        }
                                    }
                                }

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

</div>

<div class="modal fade" id="DisplayOtherDetails" role="dialog">

    <div class="modal-dialog">

        <div id="wizard">
            <!-- Tabstrip -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#projRates" role="tab" data-toggle="tab">Project Rates</a>
                </li>
                <li role="presentation">
                    <a href="#projMembers" role="tab" data-toggle="tab">Project Members</a>
                </li>
                <li role="presentation">
                    <a href="#projSubContractors" role="tab" data-toggle="tab">Project SubContractors</a>
                </li>
                <li role="presentation">
                    <a href="#projJobTypes" role="tab" data-toggle="tab">Project JobTypes</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="projRates">
                    <form id="form_projRates" role="form">
                        <div class="modal-dialog">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h3><label id="projName" name="projName"></label></h3>
                                </div>
                                <div class="col-lg-12">
                                    <div style="padding:15px 0px">
                                        <button class="btn btn-sm" type="button" data-toggle="modal" data-target="#AddProjectRates">Add</button>

                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <table id="tbl_ProjectRates" class="table table-bordered">
                                        <thead>
                                            <tr>

                                                <th hidden>Id</th>
                                                <th hidden>ProjId</th>
                                                <th hidden>SORTypeId</th>
                                                <th>SORType</th>
                                                <th hidden>SubSORTypeId</th>
                                                <th>Sub SORType</th>
                                                <th>SOR Code</th>
                                                <th>Description</th>
                                                <th>Unit Of Measure</th>
                                                <th>Unit</th>
                                                <th>Unit Price</th>
                                                <th>Cost</th>
                                                <th>Expiry Date</th>
                                                <th hidden>StatusId</th>
                                                <th>Status Name</th>
                                                <th>Action</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.AsEnumerable().Where(o => o.Id == 1).FirstOrDefault() != null)
                                            {
                                                foreach (var item in Model.AsEnumerable().Where(o => o.Id == 1).FirstOrDefault().projRates)
                                                {
                                                    <tr>

                                                        <th scope="row" hidden>@item.Id</th>
                                                        <td id="ProjId" hidden>@item.ProjId</td>
                                                        <td id="SORTypeId" hidden>@item.SORTypeId</td>
                                                        <td id="SORTypeName">@item.SORTypeName</td>
                                                        <td id="subSORTypeId" hidden>@item.subSORTypeId</td>
                                                        <td id="subSORTypeName">@item.subSORTypeName</td>
                                                        <td id="SORCode">@item.SORCode</td>
                                                        <td id="description">@item.description</td>
                                                        <td id="unitOfMeasure">@item.unitOfMeasure</td>
                                                        <td id="unit">@item.unit</td>
                                                        <td id="unitPrice">@item.unitPrice</td>
                                                        <td id="cost">@item.cost</td>
                                                        <td id="expiryDate">@item.expiryDate</td>
                                                        <td id="statusId" hidden>@item.statusId</td>
                                                        <td id="statusName">@item.statusName</td>

                                                        <td>

                                                            @if (Session["MenuDetails"] != null)
                                                            {

                                                                var MenuMaster = (List<IP.Website.Models.MenuModel>)Session["MenuDetails"];

                                                                var uRights = MenuMaster.Where(s => s.parentMenu == ViewBag.Title).ToList();
                                                                if (uRights != null)
                                                                {

                                                                    if (uRights.Where(r => r.menuName == "Edit").Count() > 0)
                                                                    {
                                                                        <a data-value="@item.Id" href="#EditProjectRates" data-toggle="modal"
                                                                           data-target="#EditProjectRates" class="btnEdit">Edit</a>
                                                                    }

                                                                    if (uRights.Where(r => r.menuName == "Delete").Count() > 0)
                                                                    {

                                                                        @Html.ActionLink("Delete", "Delete", "ProjectRates", new { id = item.Id },

                                                                                 new { onclick = "return confirm('Are sure you want to delete this record?');" })

                                                                    }
                                                                    if (uRights.Where(r => r.menuName == "View").Count() > 0)
                                                                    {
                                                                        <a data-value="@item.Id" href="#ViewProjectRates" data-toggle="modal"
                                                                           data-target="#ViewProjectRates" class="btnEdit">View</a>
                                                                    }
                                                                }
                                                            }
                                                        </td>

                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div role="tabpanel" class="tab-pane" id="projMembers">
                    <div role="tabpanel" class="tab-pane active" id="projMembers">
                        <form id="form_projMembers" role="form">
                            <div class="modal-dialog">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h3>Project Name</h3>
                                    </div>
                                    <div class="col-lg-12">
                                        <div style="padding:15px 0px">
                                            <button class="btn btn-sm" type="button" data-toggle="modal" data-target="#AddProjectMembers">Add</button>

                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <table id="tbl_ProjectMembers" class="table table-bordered">
                                            <thead>
                                                <tr>

                                                    <th hidden>Id</th>
                                                    <th hidden>ProjId</th>
                                                    <th hidden>memberId</th>
                                                    <th>Members</th>
                                                    <th hidden>StatusId</th>
                                                    <th>Status Name</th>
                                                    <th>Action</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.AsEnumerable().Where(o => o.Id == 1).FirstOrDefault() != null)
                                                {
                                                    foreach (var item in Model.AsEnumerable().Where(o => o.Id == 1).FirstOrDefault().projMembers)
                                                    {
                                                        <tr>

                                                            <th scope="row" hidden>@item.Id</th>
                                                            <td id="projId" hidden>@item.projId</td>
                                                            <td id="memberId" hidden>@item.memberId</td>
                                                            <td id="memberName">@item.memberName</td>
                                                            <td id="statusId" hidden>@item.statusId</td>
                                                            <td id="statusName">@item.statusName</td>
                                                            <td>


                                                                @if (Session["MenuDetails"] != null)
                                                                {

                                                                    var MenuMaster = (List<IP.Website.Models.MenuModel>)Session["MenuDetails"];

                                                                    var uRights = MenuMaster.Where(s => s.parentMenu == ViewBag.Title).ToList();
                                                                    if (uRights != null)
                                                                    {

                                                                        if (uRights.Where(r => r.menuName == "Edit").Count() > 0)
                                                                        {
                                                                            @*<a data-value="@item.Id" href="#EditProjectMembers" data-toggle="modal"
                                                                                data-target="#EditProjectMembers" class="btnEdit">Edit</a> |*@
                                                                        }

                                                                        if (uRights.Where(r => r.menuName == "Delete").Count() > 0)
                                                                        {

                                                                            @Html.ActionLink("Delete", "Delete", "ProjectMembers", new { id = item.Id },

                                                                                  new { onclick = "return confirm('Are sure you want to delete this record?');" })

                                                                        }
                                                                        if (uRights.Where(r => r.menuName == "View").Count() > 0)
                                                                        {
                                                                            <a data-value="@item.Id" href="#ViewProjectMembers" data-toggle="modal"
                                                                               data-target="#ViewProjectMembers" class="btnEdit">View</a>
                                                                        }
                                                                    }
                                                                }
                                                            </td>

                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="projSubContractors">
                    <div role="tabpanel" class="tab-pane active" id="projSubContractors">
                        <form id="form_projSubContractors" role="form">
                            <div class="modal-dialog">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h3>Project Name</h3>
                                    </div>
                                    <div class="col-lg-12">
                                        <div style="padding:15px 0px">
                                            <button class="btn btn-sm" type="button" data-toggle="modal" data-target="#AddProjectSubContractors">Add</button>

                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <table id="tbl_ProjectSubContractors" class="table table-bordered">
                                            <thead>
                                                <tr>

                                                    <th hidden>Id</th>
                                                    <th hidden>ProjId</th>
                                                    <th hidden>subcontractorId</th>
                                                    <th>Sub-Contractor</th>
                                                    <th hidden>StatusId</th>
                                                    <th>Status Name</th>
                                                    <th>Action</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.AsEnumerable().Where(o => o.Id == 1).FirstOrDefault() != null)
                                                {
                                                    foreach (var item in Model.AsEnumerable().Where(o => o.Id == 1).FirstOrDefault().projSubContractors)
                                                    {
                                                        <tr>

                                                            <th scope="row" hidden>@item.Id</th>
                                                            <td id="projId" hidden>@item.projId</td>
                                                            <td id="subcontractorId" hidden>@item.subcontractorId</td>
                                                            <td id="subconName">@item.subconName</td>
                                                            <td id="statusId" hidden>@item.statusId</td>
                                                            <td id="statusName">@item.statusName</td>
                                                            <td>

                                                                @if (Session["MenuDetails"] != null)
                                                                {

                                                                    var MenuMaster = (List<IP.Website.Models.MenuModel>)Session["MenuDetails"];

                                                                    var uRights = MenuMaster.Where(s => s.parentMenu == ViewBag.Title).ToList();
                                                                    if (uRights != null)
                                                                    {

                                                                        if (uRights.Where(r => r.menuName == "Edit").Count() > 0)
                                                                        {
                                                                            @*<a data-value="@item.Id" href="#EditProjectSubContractors" data-toggle="modal"
                                                                                data-target="#EditProjectSubContractors" class="btnEdit">Edit</a> |*@
                                                                        }

                                                                        if (uRights.Where(r => r.menuName == "Delete").Count() > 0)
                                                                        {

                                                                            @Html.ActionLink("Delete", "Delete", "ProjectSubContractors", new { id = item.Id },

                                                                              new { onclick = "return confirm('Are sure you want to delete this record?');" })


                                                                        }
                                                                        if (uRights.Where(r => r.menuName == "View").Count() > 0)
                                                                        {
                                                                            <a data-value="@item.Id" href="#ViewProjectSubContractors" data-toggle="modal"
                                                                               data-target="#ViewProjectSubContractors" class="btnEdit">View</a>
                                                                        }
                                                                    }
                                                                }
                                                            </td>

                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="projJobTypes">
                    <div role="tabpanel" class="tab-pane active" id="projJobTypes">
                        <form id="form_projJobTypes" role="form">
                            <div class="modal-dialog">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h3><label id="projName" name="projName"></label></h3>
                                    </div>
                                    <div class="col-lg-12">
                                        <div style="padding:15px 0px">
                                            <button class="btn btn-sm" type="button" data-toggle="modal" data-target="#AddProjectJobTypes">Add</button>

                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <table id="tbl_ProjectJobTypes" class="table table-bordered">
                                            <thead>
                                                <tr>

                                                    <th hidden>Id</th>
                                                    <th hidden>ProjId</th>
                                                    <th>Description</th>
                                                    <th>Action</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.AsEnumerable().Where(o => o.Id == 1).FirstOrDefault() != null)
                                                {
                                                    foreach (var item in Model.AsEnumerable().Where(o => o.Id == 1).FirstOrDefault().projJobTypes)
                                                    {
                                                        <tr>

                                                            <th scope="row" hidden>@item.Id</th>
                                                            <td id="projId" hidden>@item.projId</td>
                                                            <td id="description">@item.description</td>
                                                            <td>
                                                                @if (Session["MenuDetails"] != null)
                                                                {

                                                                    var MenuMaster = (List<IP.Website.Models.MenuModel>)Session["MenuDetails"];

                                                                    var uRights = MenuMaster.Where(s => s.parentMenu == ViewBag.Title).ToList();
                                                                    if (uRights != null)
                                                                    {

                                                                        if (uRights.Where(r => r.menuName == "Edit").Count() > 0)
                                                                        {
                                                                            <a data-value="@item.Id" href="#EditProjectJobTypes" data-toggle="modal"
                                                                               data-target="#EditProjectJobTypes" class="btnEdit">Edit</a>
                                                                        }

                                                                        if (uRights.Where(r => r.menuName == "Delete").Count() > 0)
                                                                        {

                                                                            @Html.ActionLink("Delete", "Delete", "ProjectJobTypes", new { id = item.Id },

                                                                                    new { onclick = "return confirm('Are sure you want to delete this record?');" })



                                                                        }
                                                                        if (uRights.Where(r => r.menuName == "View").Count() > 0)
                                                                        {
                                                                            <a data-value="@item.Id" href="#ViewProjectJobTypes" data-toggle="modal"
                                                                               data-target="#ViewProjectJobTypes" class="btnEdit">View</a>
                                                                        }
                                                                    }
                                                                }
                                                            </td>

                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="modal fade" id="AddProject" role="dialog">
    <div class="modal-dialog">
        <form id="form_AddProject" action="@Url.Action("Insert", "Project",FormMethod.Post)" role="form" size="100%">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Project</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">

                                <div class="form-group col-lg-12">
                                    <label for="projName">Project Name</label>
                                    <input type="text" id="projName" class="form-control" name="projName" required>
                                </div>
                                @if (ViewBag.ClientID == 0)
                                {
                                    <div class="form-group col-lg-12">
                                        <label for="clientId">Client</label>

                                        @Html.DropDownList("clientId", ViewBag.ClientList as IEnumerable<SelectListItem>, "Select", new
                                   {
                                       @class = "form-control"

                                   })
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group col-lg-12">
                                        <label for="clientId">Client</label>
                                        @Html.DropDownList("clientId", ViewBag.ClientList as IEnumerable<SelectListItem>,"Select", new
                                   {
                                       @class = "form-control",
                                       @Value = ViewBag.ClientId,
                                       @disabled = true
                                   })
                                    </div>
                                }


                                <div class="form-group col-lg-12">
                                    <label for="locId">Location</label>
                                    @Html.DropDownList("locId", ViewBag.LocationList as IEnumerable<SelectListItem>, "Select", new
                                    {
                                        @class = "form-control"
                                    })<br />
                                    <button class="btn btn-sm" type="button" data-toggle="modal" data-target="#AddLocation">Add New Location</button>

                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="startDate">Start Date</label>
                                    <input type="date" id="startDate" class="form-control" name="startDate" required>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="endDate">End Date</label>
                                    <input type="date" id="endDate" class="form-control" name="endDate" required>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="statusId">Status</label>
                                    @Html.DropDownList("statusId", ViewBag.StatusTypeList as IEnumerable<SelectListItem>, "Select", new
                                    {
                                        @class = "form-control"
                                    })
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="saveProject" type="submit">Submit</button> @*type="button"*@
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="EditProject" role="dialog">
    <div class="modal-dialog">
        <form id="form_EditProject" action="@Url.Action("Update", "Project",FormMethod.Post)" role="form" size="100%">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Project</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label for="Id">ID</label>
                                    <input type="text" id="editProjId" class="form-control" name="Id" required>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="editProjName">Project Name</label>
                                    <input type="text" id="editProjName" class="form-control" name="projName" required>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="editclientId">Client</label>
                                    @if (ViewBag.ClientID == 0)
                                    {
                                        @Html.DropDownList("clientId", ViewBag.ClientList as IEnumerable<SelectListItem>, new
                                   {
                                       @class = "form-control",
                                       @Id = "editClientId"
                                   })
                                    }
                                    else
                                    {
                                        @Html.DropDownList("clientId", ViewBag.ClientList as IEnumerable<SelectListItem>, new
                                   {
                                       @class = "form-control",
                                       @Id = "editClientId",
                                       @disabled = true
                                   })
                                    }
                                </div>

                                <div class="form-group col-lg-12">
                                    <label for="locId">Location</label>
                                    @Html.DropDownList("locId", ViewBag.LocationList as IEnumerable<SelectListItem>,  new
                               {
                                   @class = "form-control",
                                        @id = "editLocId"



                               })

                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="startDate">Start Date</label>
                                    <input type="date" id="editStartDate" class="form-control" name="startDate" required>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="endDate">End Date</label>
                                    <input type="date" id="editEndDate" class="form-control" name="endDate" required>
                                </div>

                                <div class="form-group col-lg-12">
                                    <label for="statusId">Status</label>
                                    @Html.DropDownList("statusId", ViewBag.StatusTypeList as IEnumerable<SelectListItem>, "Select", new
                                    {
                                        @class = "form-control",
                                        @id = "editStatusId"
                                    })
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="saveProject" type="submit">Submit</button> @*type="button"*@
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="AddProjectRates" role="dialog">
    <div class="modal-dialog">
        <form id="form_AddProjectRates" action="@Url.Action("Insert", "ProjectRates",FormMethod.Post)" role="form" size="100%">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Project Rates</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label for="projId">ProjId</label>
                                    <input type="text" id="projId" class="form-control" name="projId">
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="SORTypeId">SORType</label>

                                    @Html.DropDownList("SORTypeId", ViewBag.SORTypeList as IEnumerable<SelectListItem>, "Select", new
                                    {
                                        @class = "form-control",


                                    })
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="SubSORTypeId">Sub SORType</label>
                                    @Html.DropDownList("SubSORTypeId", ViewBag.SubSORTypeList as IEnumerable<SelectListItem>, "Select", new
                              {
                                  @class = "form-control",


                              })
                                </div>

                                <div class="form-group col-lg-12">
                                    <label for="SORCode">SOR Code</label>
                                    <input type="text" id="SORCode" class="form-control" name="SORCode" required>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="description">Description</label>
                                    <input type="text" id="description" class="form-control" name="description" required>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="unitOfMeasure">Unit of Measure</label>
                                    <input type="text" id="unitOfMeasure" class="form-control" name="unitOfMeasure" required>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="unit">Unit</label>
                                    <input type="number" id="unit" class="form-control" name="unit" required>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="unitPrice">Unit Price</label>
                                    <input type="number" id="unitPrice" class="form-control" name="unitPrice" placeholder="0.00" required min="0" value="0" step="0.01" title="unitPrice" pattern="^\d+(?:\.\d{1,2})?$" onblur="this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{1,2})?$/.test(this.value)?'inherit':'red'">
                                </div>
                                <div>

                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="cost">Cost</label>
                                    <input type="number" id="cost" class="form-control" name="cost" placeholder="0.00" required min="0" value="0" step="0.01" title="unitPrice" pattern="^\d+(?:\.\d{1,2})?$" onblur="this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{1,2})?$/.test(this.value)?'inherit':'red'">
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="expiryDate">Expiry Date</label>
                                    <input type="date" id="expiryDate" class="form-control" name="expiryDate" required>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="statusId">Status</label>
                                    @Html.DropDownList("statusId", ViewBag.RatesStatusList as IEnumerable<SelectListItem>, "Select", new
                                    {
                                        @class = "form-control"
                                    })
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="saveProject" type="submit">Submit</button> @*type="button"*@
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="EditProjectRates" role="dialog">
    <div class="modal-dialog">
        <form id="form_EditProjectRates" action="@Url.Action("Update", "ProjectRates",FormMethod.Post)" role="form" size="100%">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Project Rates</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label for="Id">Id</label>
                                    <input type="text" id="RateId" class="form-control" name="Id">
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="projId">ProjId</label>
                                    <input type="text" id="editRateProjId" class="form-control" name="projId">
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="SORTypeId">SORType</label>

                                    @Html.DropDownList("SORTypeId", ViewBag.SORTypeList as IEnumerable<SelectListItem>, "Select", new
                               {
                                   @class = "form-control",
                                   @Id = "editSORTypeId"


                               })

                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="SubSORTypeId">Sub SORType</label>
                                    @Html.DropDownList("SubSORTypeId", ViewBag.SubSORTypeList as IEnumerable<SelectListItem>, "Select", new
                               {
                                   @class = "form-control",
                                   @Id = "editSubSORTypeId"

                               })
                                </div>

                                <div class="form-group col-lg-12">
                                    <label for="SORCode">SOR Code</label>
                                    <input type="text" id="editSORCode" class="form-control" name="SORCode" required>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="description">Description</label>
                                    <input type="text" id="editDescription" class="form-control" name="description" required>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="unitOfMeasure">Unit of Measure</label>
                                    <input type="text" id="editUnitOfMeasure" class="form-control" name="unitOfMeasure" required>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="unit">Unit</label>
                                    <input type="number" id="editUnit" class="form-control" name="unit" required>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="unitPrice">Unit Price</label>
                                    <input type="number" id="editUnitPrice" class="form-control" name="unitPrice" placeholder="0.00" required min="0" value="0" step="0.01" title="unitPrice" pattern="^\d+(?:\.\d{1,2})?$" onblur="this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{1,2})?$/.test(this.value)?'inherit':'red'">

                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="cost">Cost</label>
                                    <input type="number" id="editCost" class="form-control" name="cost" placeholder="0.00" required min="0" value="0" step="0.01" title="unitPrice" pattern="^\d+(?:\.\d{1,2})?$" onblur="this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{1,2})?$/.test(this.value)?'inherit':'red'">
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="expiryDate">Expiry Date</label>
                                    <input type="date" id="editExpiryDate" class="form-control" name="expiryDate" required date>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="statusId">Status</label>
                                    @Html.DropDownList("statusId", ViewBag.RatesStatusList as IEnumerable<SelectListItem>, "Select", new
                                    {
                                        @class = "form-control",
                                        @id = "editRateStatusId"
                                    })
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="saveProject" type="submit">Submit</button> @*type="button"*@
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="AddProjectMembers" role="dialog">
    <div class="modal-dialog">
        <form id="form_AddProjectMembers" action="@Url.Action("Insert", "ProjectMembers")" method="post" role="form" size="100%">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Project Members</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label for="projId">ProjId</label>
                                    <input type="text" id="projId" class="form-control" name="projId">
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="MembersSelect">Members Details</label> <br />
                                    <table id="tbl_MembersSelect" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th> <input type="checkbox" id="chkSelectAll" /></th>
                                                <th hidden>ID</th>
                                                <th>Members</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.AsEnumerable().FirstOrDefault().members)
                                            {
                                                <tr>
                                                    <td><input type="checkbox" name="memberSelect" class="memberSelect" value="@item.memberId"></td>
                                                    <td id="memberId" hidden name="memberId" class="memberSelect">@Html.DisplayFor(modelItem => item.memberId) </td>
                                                    <td id="memberName" name="memberName" class="memberSelect">@Html.DisplayFor(modelItem => item.memberName)</td>
                                                    <td>
                                                        <div class="form-group col-lg-12">
                                                            @Html.DropDownList("statusId", ViewBag.MembersStatusList as IEnumerable<SelectListItem>, "Select", new
                                                            {
                                                                @class = "form-control"
                                                            })
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="saveProject" type="submit">Submit</button> @*type="button"*@
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="AddProjectSubContractors" role="dialog">
    <div class="modal-dialog">
        <form id="form_AddProjectSubContractors" action="@Url.Action("Insert", "ProjectSubContractors")" method="post" role="form" size="100%">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Project SubContractors</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label for="projId">ProjId</label>
                                    <input type="text" id="projId" class="form-control" name="projId">
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="MembersSelect">SubContractors Details</label> <br />
                                    <table id="tbl_MembersSelect" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th> <input type="checkbox" id="chkSelectAll" /></th>
                                                <th hidden>ID</th>
                                                <th>Sub-Contractor</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.AsEnumerable().FirstOrDefault().subContractors)
                                            {
                                                <tr>
                                                    <td><input type="checkbox" name="subContractorsSelect" class="subContractorsSelect" value="@item.subcontractorId"></td>
                                                    <td id="subcontractorId" hidden name="subcontractorId" class="subContractorsSelect">@Html.DisplayFor(modelItem => item.subcontractorId) </td>
                                                    <td id="subconName" name="subconName" class="subContractorsSelect">@Html.DisplayFor(modelItem => item.subconName)</td>
                                                    <td>
                                                        <div class="form-group col-lg-12">
                                                            @Html.DropDownList("statusId", ViewBag.SCStatusList as IEnumerable<SelectListItem>, "Select", new
                                                            {
                                                                @class = "form-control"
                                                            })
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="saveProjectSubContractors" type="submit">Submit</button> @*type="button"*@
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="AddProjectJobTypes" role="dialog">
    <div class="modal-dialog">
        <form id="form_AddProjectJobTypes" action="@Url.Action("Insert", "ProjectJobTypes")" method="post" role="form" size="100%">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Project JobTypes</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label for="projId">ProjId</label>
                                    <input type="text" id="projId" class="form-control" name="projId">
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="description">Description</label>
                                    <input type="text" id="description" class="form-control" name="description">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="saveProject" type="submit">Submit</button> @*type="button"*@
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="EditProjectJobTypes" role="dialog">
    <div class="modal-dialog">
        <form id="form_EditProjectJobTypes" action="@Url.Action("Update", "ProjectJobTypes")" method="post" role="form" size="100%">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Project JobTypes</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label for="Id">ID</label>
                                    <input type="text" id="editJobTypesId" class="form-control" name="Id">
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="projId">ProjId</label>
                                    <input type="text" id="editJobTypesProjId" class="form-control" name="projId">
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="description">Description</label>
                                    <input type="text" id="editJobTypeDescription" class="form-control" name="description">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="saveProject" type="submit">Submit</button> @*type="button"*@
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#tbl_Project').DataTable();
        $('#tbl_ProjectRates').DataTable();
        $('#tbl_ProjectMembers').DataTable();
        $('#tbl_ProjectSubContractors').DataTable();
    });
    $(function () {
        //Attach a click event to webgrid table
        $('#tbl_Project').find('tr').on('click', function () {

            //Get the value from address id column. Column index starts from zero
            $("#editProjId").val($(this).children("th:eq(0)").html());
            $("#editProjName").val($(this).children("td:eq(0)").html().match(/<a [^>]+>([^<]+)<\/a>/)[1]);
            $("#editLocId option[value = " + $(this).children("td:eq(1)").html() + "]").attr('selected', 'selected');
            $("#editClientId option[value = " + $(this).children("td:eq(3)").html() + "]").attr('selected', 'selected');
            //$("#editStartDate").val($.datepicker.formatDate("dd/mm/yyyy", new Date($(this).children("td:eq(5)").html())));
            $("#editStartDate").val($(this).children("td:eq(5)").html());
            // $("#editEndDate").val($.datepicker.formatDate("dd/mm/yyyy", new Date($(this).children("td:eq(6)").html())));
            $("#editEndDate").val(new Date($(this).children("td:eq(6)").html()));
            $("#editStatusId option[value = " + $(this).children("td:eq(7)").html() + "]").attr('selected', 'selected');
        });

        $('#tbl_ProjectRates').find('tr').on('click', function () {
            $("#RateId").val($(this).children("th:eq(0)").html());
            $("#editRateProjId").val($(this).children("td:eq(0)").html());
            $("#editSORTypeId option[value = " + $(this).children("td:eq(1)").html() + "]").attr('selected', 'selected');
            $("#editSubSORTypeId option[value = " + $(this).children("td:eq(3)").html() + "]").attr('selected', 'selected');
            $("#editSORCode").val($(this).children("td:eq(5)").html());
            $("#editDescription").val($(this).children("td:eq(6)").html());
            $("#editUnitOfMeasure").val($(this).children("td:eq(7)").html());
            $("#editUnit").val($(this).children("td:eq(8)").html());
            $("#editUnitPrice").val($(this).children("td:eq(9)").html());
            $("#editCost").val($(this).children("td:eq(10)").html());
            //$("#editExpiryDate").val($(this).children("td:eq(11)").html());

            //Setting formatted date to OrderDate in the template

            $("#editExpiryDate").val($.datepicker.formatDate("dd/mm/yyyy", new Date($(this).children("td:eq(11)").html())));
            $("#editRateStatusId option[value = " + $(this).children("td:eq(12)").html() + "]").attr('selected', 'selected');

        });
        $('#tbl_ProjectJobTypes').find('tr').on('click', function () {


            //Get the value from address id column. Column index starts from zero
            $("#editJobTypesId").val($(this).children("th:eq(0)").html());
            $("#editJobTypesProjId").val($(this).children("td:eq(0)").html());
            $("#editJobTypeDescription").val($(this).children("td:eq(1)").html());
        });
    });
</script>


