@using IP.Website.Models
@model AccountModel
@{
    ViewBag.Title = "Login";
}

<style>
    .validation-summary-errors text-danger{
        padding-left:15% !important;
    }
</style>
<div class="row">
    <br />
    <br /><br /><br /><br />
    <div class="col-sm-3">
    </div>
    <div class="col-lg-8">
        <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @ViewBag.Title </h2>
    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-md-8">

        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new
            {
                ReturnUrl = ViewBag.Message // ViewBag.ReturnUrl
            }, FormMethod.Post, new
            {
                @class = "form-horizontal",
                role = "form"
            }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new
                {
                    @class = "text-danger"
                })
                <div class="form-group">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-8">
                        @ViewBag.Message
                        @Html.TextBoxFor(m => m.userName, new
                   {
                       @class = "form-control",
                       placeholder = "UserName",
                       @required = "required"

                   })
                        @Html.ValidationMessageFor(m => m.userName, "", new
                            {
                                @class = "text-danger"
                            })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-8">
                        @Html.PasswordFor(m => m.password, new
                   {
                       @class = "form-control",
                       placeholder = "Password",
                       @required = "required"
                   })
                        @Html.ValidationMessageFor(m => m.password, "", new
                            {
                                @class = "text-danger"
                            })
                    </div>
                </div>

                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit"
                               value="Log in"
                               class="btn btn-default" / >
                    </div>
                </div>
            }
        </section>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}  