@model IEnumerable<IP.Website.Models.MembersModel>
@{
    ViewBag.Title = "Members";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Members

            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Management Console", "Index", "MasterMenu")
                </li>
                <li class="active">Members</li>
            </ol>

            @if (Session["MenuDetails"] != null)
            {

                var MenuMaster = (List<IP.Website.Models.MenuModel>)Session["MenuDetails"];

                var uRights = MenuMaster.Where(s => s.parentMenu == ViewBag.Title).ToList();
                if (uRights != null)
                {

                    if (uRights.Where(r => r.menuName == "Add").Count() > 0)
                    {
                        <div style="padding:15px 0px">
                            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#AddMembers">Add</button>
                        </div>
                    }
                }
            }
        </div>
        <div class="col-lg-12">
            <table id="tbl_Members" class="table table-bordered">
                <thead>
                    <tr>
                        <th hidden>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>PhoneNo</th>
                        <th>isTeamLead</th>
                        <th>Last Login</th>
                        <th hidden>StatusId</th>
                        <th>Status Name</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row" hidden>@item.Id</th>
                            <td id="firstName">@item.firstName</td>
                            <td id="lastName">@item.lastName</td>
                            <td id="address">@item.address</td>
                            <td id="email">@item.email</td>
                            <td id="phoneNumber">@item.phoneNumber</td>
                            <td id="isTeamLead"><input type="checkbox" checked=@item.isTeamLead disabled/ ></td>
                            <td id="lastLoginDate"> @item.lastLoginDate</td>
                            <td id="statusId" hidden>@item.statusId</td>
                            <td id="statusName">@item.statusName</td>

                            <td>


                                @if (Session["MenuDetails"] != null)
                                {

                                    var MenuMaster = (List<IP.Website.Models.MenuModel>)Session["MenuDetails"];

                                    var uRights = MenuMaster.Where(s => s.parentMenu == ViewBag.Title).ToList();
                                    if (uRights != null)
                                    {

                                        if (uRights.Where(r => r.menuName == "Edit").Count() > 0)
                                        {

                                            <a data-value="@item.Id" href="#EditMembers" data-toggle="modal"
                                               data-target="#EditMembers" class="btnEdit">Edit</a>
                                            <text>|</text>
                                        }

                                        if (uRights.Where(r => r.menuName == "Delete").Count() > 0)
                                        {

                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id },

                                                     new { onclick = "return confirm('Are sure you want to delete this record?');" })
                                            <text>|</text>
                                        }
                                        if (uRights.Where(r => r.menuName == "View").Count() > 0)
                                        {
                                            <a data-value="@item.Id" href="#ViewMembers" data-toggle="modal"
                                               data-target="#ViewMembers" class="btnEdit">View</a>
                                        }
                                    }
                                }
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

</div>

<div class="modal fade" id="AddMembers" role="dialog">
    <div class="modal-dialog">
        <form id="form_AddMembers" action="@Url.Action("Insert", "Members")" method="post" role="form">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Members</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label for="firstName">First Name</label>
                                    <input type="text" id="firstName" class="form-control" name="firstName" required>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" id="lastName" class="form-control" name="lastName" required>
                                </div>

                                <div class="form-group col-lg-12">
                                    <label for="address">Address</label>
                                    <input type="text" id="address" class="form-control" name="address" required>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" class="form-control" name="email" required>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="phoneNumber">PhoneNo</label>
                                    <input type="text" id="phoneNumber" class="form-control" name="phoneNumber" pattern="[0-9]{10}" required>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="isTeamLead">Is TeamLead</label>
                                    <input type="checkbox" id="isTeamLead" class="checkbox" name="isTeamLead">
                                </div>

                                <div class="form-group col-lg-12">
                                    <label for="statusID">Status</label>
                                    @Html.DropDownList("statusID", ViewBag.StatusList as IEnumerable<SelectListItem>, "Select", new
                                    {
                                        @class = "form-control",
                                        @required = true
                                    })

                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="SkillSets">Skill Sets Mapping Details</label> <br />
                                    <table id="tbl_SkillSets" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th> <input type="checkbox" id="chkSelectAll" /></th>
                                                <th hidden>ID</th>
                                                <th>Skill Sets</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.AsEnumerable().FirstOrDefault().skillSelect)
                                            {
                                                <tr>
                                                    <td><input type="checkbox" name="skillSelect" class="skillSelect" value="@item.skillSetId"></td>
                                                    <td id="skillSetId" hidden name="skillSetId" class="skillSelect">@Html.DisplayFor(modelItem => item.skillSetId) </td>
                                                    <td id="skillSetName" name="skillSetName" class="skillSelect">@Html.DisplayFor(modelItem => item.skillSetName)</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="saveMembers" type="submit">Submit</button> @*type="button"*@
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="EditMembers" role="dialog">
    <div class="modal-dialog">
        <form id="form_EditMembers" action="@Url.Action("Update", "Members")" method="post" role="form">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Members</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="form-group col-lg-12 hidden">
                                    <label for="Id">ID</label>
                                    <input type="text" id="Id" class="form-control" name="Id" hidden>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="firstName">First Name</label>
                                    <input type="text" id="editFirstName" class="form-control" name="firstName" required>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" id="editLastName" class="form-control" name="lastName" required>
                                </div>

                                <div class="form-group col-lg-12">
                                    <label for="address">Address</label>
                                    <input type="text" id="editAddress" class="form-control" name="address" required>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="email">Email</label>
                                    <input type="email" id="editEmail" class="form-control" name="email" required>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="phoneNumber">PhoneNo</label>
                                    <input type="text" id="editPhoneNumber" class="form-control" name="phoneNumber" pattern="[0-9]{10}" required>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="isTeamLead">Is TeamLead</label>
                                    <input type="checkbox" id="editIsTeamLead" class="checkbox" name="isTeamLead">
                                </div>

                                <div class="form-group col-lg-12">
                                    <label for="statusID">Status</label>
                                    @Html.DropDownList("statusID", ViewBag.StatusList as IEnumerable<SelectListItem>, "Select", new
                                   {
                                       @class = "form-control",
                                       @Id = "editStatusTypeID",
                                       @required = true
                                   })

                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="SkillSets">Skill Sets Mapping Details</label> <br />
                                    <table id="tbl_SkillSets" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th> <input type="checkbox" id="editChkSelectAll" /></th>
                                                <th hidden>ID</th>
                                                <th>Skill Sets</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.AsEnumerable().FirstOrDefault().skillSelect)
                                            {
                                                <tr>
                                                    <td><input type="checkbox" name="skillSelect" class="skillSelect" value="@item.skillSetId"></td>
                                                    <td id="editSkillSetId" hidden name="skillSetId" class="skillSelect">@Html.DisplayFor(modelItem => item.skillSetId) </td>
                                                    <td id="editSkillSetName" name="skillSetName" class="skillSelect">@Html.DisplayFor(modelItem => item.skillSetName)</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="editSaveMembers" type="submit">Submit</button> @*type="button"*@
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="ViewMembers" role="dialog">
    <div class="modal-dialog">
        <form id="form_ViewMembers" role="form">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">View Members</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label for="firstName">First Name</label>
                                    <input type="text" id="viewFirstName" class="form-control" name="firstName" required disabled>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" id="viewLastName" class="form-control" name="lastName" required disabled>
                                </div>

                                <div class="form-group col-lg-12">
                                    <label for="address">Address</label>
                                    <input type="text" id="viewAddress" class="form-control" name="address" required disabled>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="email">Email</label>
                                    <input type="email" id="viewEmail" class="form-control" name="email" required disabled>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="phoneNumber">PhoneNo</label>
                                    <input type="text" id="viewPhoneNumber" class="form-control" name="phoneNumber" pattern="[0-9]{10}" required disabled>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="isTeamLead">Is TeamLead</label>
                                    <input type="checkbox" id="viewIsTeamLead" class="checkbox" name="isTeamLead" disabled>
                                </div>

                                <div class="form-group col-lg-12">
                                    <label for="statusID">Status</label>
                                    @Html.DropDownList("statusID", ViewBag.StatusList as IEnumerable<SelectListItem>, "Select", new
                                   {
                                       @class = "form-control",
                                       @Id = "viewStatusTypeID",
                                       @required = true,
                                       @disabled= true
                                   })

                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="SkillSets">Skill Sets Mapping Details</label> <br />
                                    <table id="tbl_SkillSets" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th> <input type="checkbox" id="editChkSelectAll" /></th>
                                                <th hidden>ID</th>
                                                <th>Skill Sets</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.AsEnumerable().FirstOrDefault().skillSelect)
                                            {
                                                <tr>
                                                    <td><input type="checkbox" name="skillSelect" class="skillSelect" value="@item.skillSetId" disabled></td>
                                                    <td id="viewSkillSetId" hidden name="skillSetId" class="skillSelect">@Html.DisplayFor(modelItem => item.skillSetId) </td>
                                                    <td id="viewSkillSetName" name="skillSetName" class="skillSelect">@Html.DisplayFor(modelItem => item.skillSetName)</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tbl_Members').DataTable();

    });

    $(function () {
        //Attach a click event to webgrid table
        $('#tbl_Members').find('tr').on('click', function () {
            //Get the value from address id column. Column index starts from zero

            $("#Id").val($(this).children("th:eq(0)").html());
            $("#editFirstName").val($(this).children("td:eq(0)").html());
            $("#editLastName").val($(this).children("td:eq(1)").html());
            $("#editAddress").val($(this).children("td:eq(2)").html());
            $("#editEmail").val($(this).children("td:eq(3)").html());
            $("#editPhoneNumber").val($(this).children("td:eq(4)").html());
            $("#editIsTeamLead").val($(this).children("td:eq(5)").html());
            $("#editStatusTypeID option[value = " + $(this).children("td:eq(7)").html() + "]").attr('selected', 'selected');


            $("#viewFirstName").val($(this).children("td:eq(0)").html());
            $("#viewLastName").val($(this).children("td:eq(1)").html());
            $("#viewAddress").val($(this).children("td:eq(2)").html());
            $("#viewEmail").val($(this).children("td:eq(3)").html());
            $("#viewPhoneNumber").val($(this).children("td:eq(4)").html());
            $("#viewIsTeamLead").val($(this).children("td:eq(5)").html());
            $("#viewStatusTypeID option[value = " + $(this).children("td:eq(7)").html() + "]").attr('selected', 'selected');

        });
    });



</script>


